.menuItem:hover{
    -fx-border-color: #0c2f74;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-cursor: pointer;
    -fx-opacity: 0.5;
}
.menuItem{
    -fx-border-color: transparent;
    -fx-border-width: 0px 0px 3px 0px;
}

.sdrMenuItem:hover{
    -fx-cursor: pointer;
    -fx-opacity: 0.5;
}

.menuClose:hover{
    -fx-cursor: pointer;
    -fx-opacity: 0.5;
}
.table {
    -fx-font-family: "Bitstream Charter";
    -fx-font-size: 15px;
}